In [1]:
# Importing the libraries 
import os
import sys
import requests
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import io
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# Download Dataset
from google.colab import files 
uploaded = files.upload()

Saving F-F_Research_Data_Factors.csv to F-F_Research_Data_Factors.csv

In [90]:
# Saving the FF data to a data frame
data = pd.read_csv('F-F_Research_Data_Factors.csv', skiprows=3, index_col=0)
data.head()

          Mkt-RF       SMB       HML        RF
192607      2.96     -2.30     -2.87      0.22
192608      2.64     -1.40      4.19      0.25
192609      0.36     -1.32      0.01      0.23
192610     -3.24      0.04      0.51      0.32
192611      2.53     -0.20     -0.35      0.31

In [91]:
# Clean up data 
df = data.drop(data.index[1125:])
df

          Mkt-RF       SMB       HML        RF
192607      2.96     -2.30     -2.87      0.22
192608      2.64     -1.40      4.19      0.25
192609      0.36     -1.32      0.01      0.23
192610     -3.24      0.04      0.51      0.32
192611      2.53     -0.20     -0.35      0.31
...          ...       ...       ...       ...
201911      3.87      0.87     -1.86      0.12
201912      2.77      0.68      1.83      0.14
202001     -0.11     -3.11     -6.27      0.13
202002     -8.13      0.96     -4.01      0.12
202003    -13.39     -5.13    -14.11      0.12

[1125 rows x 4 columns]

In [92]:
# Formating Date 
df.index = pd.to_datetime(df.index[:1127], format= '%Y%m')

# Format dates to end of month
df.index = df.index + pd.offsets.MonthEnd()

df.tail()

              Mkt-RF       SMB       HML        RF
2019-11-30      3.87      0.87     -1.86      0.12
2019-12-31      2.77      0.68      1.83      0.14
2020-01-31     -0.11     -3.11     -6.27      0.13
2020-02-29     -8.13      0.96     -4.01      0.12
2020-03-31    -13.39     -5.13    -14.11      0.12

In [93]:
df.dtypes

Mkt-RF    object
SMB       object
HML       object
RF        object
dtype: object

In [94]:
# Last day of df data
df_last = df.index[df.shape[0] - 1].date()
df_last

datetime.date(2020, 3, 31)

In [8]:
import os

from datetime import datetime

import pandas_datareader.data as web

In [9]:
f = web.DataReader("AAPL", "av-monthly", start=datetime(1980, 1, 2),
                   end=datetime(2020, 4, 30),             
                   api_key='CCWOS3F9PKSXIKW9')

In [10]:
# Download Dataset
from google.colab import files 
uploaded = files.upload()

Saving AAPL_Max.csv to AAPL_Max.csv

In [68]:
# Store the stck data set to a data frame

if os.path.exists('AAPL_Max.csv'):

    # Load the data
    price_data = pd.read_csv('AAPL_Max.csv', index_col=0)

else:

    # Grab the data and store it.
    grab_price_data()

    # Load the data
    price_data = pd.read_csv('AAPL_Max.csv')

# Display the head before moving on.
price_data.head()

                Open      High       Low     Close  Adj Close     Volume
Date
1980-12-01  0.513393  0.645089  0.450893  0.609375   0.481528  336212800
1981-01-01  0.616071  0.620536  0.504464  0.504464   0.398628  152247200
1981-02-01  0.477679  0.515625  0.424107  0.473214   0.373934   80404800
1981-03-01  0.475446  0.482143  0.386161  0.437500   0.345713  175179200
1981-04-01  0.435268  0.524554  0.433036  0.506696   0.400392  134232000

In [69]:
price_data.dtypes
price_data

                  Open        High  ...   Adj Close      Volume
Date                                ...
1980-12-01    0.513393    0.645089  ...    0.481528   336212800
1981-01-01    0.616071    0.620536  ...    0.398628   152247200
1981-02-01    0.477679    0.515625  ...    0.373934    80404800
1981-03-01    0.475446    0.482143  ...    0.345713   175179200
1981-04-01    0.435268    0.524554  ...    0.400392   134232000
...                ...         ...  ...         ...         ...
2019-12-01  267.269989  293.970001  ...  292.163818   597198700
2020-01-01  296.239990  327.850006  ...  307.943604   733592600
2020-02-01  304.299988  327.220001  ...  271.976532   754645900
2020-03-01  282.279999  304.000000  ...  253.603500  1570018100
2020-04-01  246.500000  294.529999  ...  293.006836   816222400

[473 rows x 6 columns]

In [70]:
# Format the stock data to match the ff

from pandas.tseries.offsets import MonthEnd

price_data.index = pd.to_datetime(price_data.index, infer_datetime_format=True) + MonthEnd(1)

price_data = price_data.drop(price_data.index[472])
price_data

                  Open        High  ...   Adj Close      Volume
Date                                ...
1980-12-31    0.513393    0.645089  ...    0.481528   336212800
1981-01-31    0.616071    0.620536  ...    0.398628   152247200
1981-02-28    0.477679    0.515625  ...    0.373934    80404800
1981-03-31    0.475446    0.482143  ...    0.345713   175179200
1981-04-30    0.435268    0.524554  ...    0.400392   134232000
...                ...         ...  ...         ...         ...
2019-11-30  249.539993  268.000000  ...  265.101563   448331500
2019-12-31  267.269989  293.970001  ...  292.163818   597198700
2020-01-31  296.239990  327.850006  ...  307.943604   733592600
2020-02-29  304.299988  327.220001  ...  271.976532   754645900
2020-03-31  282.279999  304.000000  ...  253.603500  1570018100

[472 rows x 6 columns]

In [71]:
# Clean data 
price_data.drop(columns=['Open','High','Low','Close','Volume'], axis=1, inplace= True)

price_data.head()

            Adj Close
Date
1980-12-31   0.481528
1981-01-31   0.398628
1981-02-28   0.373934
1981-03-31   0.345713
1981-04-30   0.400392

In [74]:
price_data.tail()

             Adj Close
Date
2019-11-30  265.101563
2019-12-31  292.163818
2020-01-31  307.943604
2020-02-29  271.976532
2020-03-31  253.603500

In [96]:
def get_return_data(price_data, period = "M"):
    
    # Resample the data to monthly price
    price = price_data.resample(period).last()
    
    # Calculate the percent change
    ret_data = price.pct_change()[1:]
    
    # convert from series to DataFrame
    ret_data = pd.DataFrame(ret_data)
    
    # Rename the Column
    ret_data.columns = ['Returns']
    return ret_data
    
ret_data = get_return_data(price_data, "M")
print(ret_data.tail())

             Returns
Date
2019-11-30  0.074329
2019-12-31  0.102083
2020-01-31  0.054010
2020-02-29 -0.116798
2020-03-31 -0.067554

In [97]:
ret_data.head()

             Returns
Date
1981-01-31 -0.172160
1981-02-28 -0.061947
1981-03-31 -0.075471
1981-04-30  0.158163
1981-05-31  0.167401

In [98]:
# Merging the data
df = pd.merge(pd.DataFrame(ret_data),df, how = 'inner', left_index= True, right_index= True)

df.head()

             Returns    Mkt-RF       SMB       HML        RF
1981-01-31 -0.172160     -5.04      3.00      6.84      1.04
1981-02-28 -0.061947      0.57     -0.31      0.97      1.07
1981-03-31 -0.075471      3.56      3.58      0.67      1.21
1981-04-30  0.158163     -2.11      4.42      2.26      1.08
1981-05-31  0.167401      0.11      2.00     -0.43      1.15

In [99]:
# Formatting data types
df['RF'] = df['RF'].astype(float)
df.dtypes

Returns    float64
Mkt-RF      object
SMB         object
HML         object
RF         float64
dtype: object

In [100]:
df['HML'] = df['HML'].astype(float)
df['SMB'] = df['SMB'].astype(float)
df['Mkt-RF'] = df['Mkt-RF'].astype(float)
df.dtypes

Returns    float64
Mkt-RF     float64
SMB        float64
HML        float64
RF         float64
dtype: object

In [101]:
# Calculate the excess returns
df['Excess Returns'] = df['Returns'] - df['RF']
print(df.tail())

             Returns  Mkt-RF   SMB    HML    RF  Excess Returns
2019-11-30  0.074329    3.87  0.87  -1.86  0.12       -0.045671
2019-12-31  0.102083    2.77  0.68   1.83  0.14       -0.037917
2020-01-31  0.054010   -0.11 -3.11  -6.27  0.13       -0.075990
2020-02-29 -0.116798   -8.13  0.96  -4.01  0.12       -0.236798
2020-03-31 -0.067554  -13.39 -5.13 -14.11  0.12       -0.187554

In [102]:
df.head()

             Returns  Mkt-RF   SMB   HML    RF  Excess Returns
1981-01-31 -0.172160   -5.04  3.00  6.84  1.04       -1.212160
1981-02-28 -0.061947    0.57 -0.31  0.97  1.07       -1.131947
1981-03-31 -0.075471    3.56  3.58  0.67  1.21       -1.285471
1981-04-30  0.158163   -2.11  4.42  2.26  1.08       -0.921837
1981-05-31  0.167401    0.11  2.00 -0.43  1.15       -0.982599

In [106]:
# Creating x and y variables
X = df[['Mkt-RF','SMB','HML']]
Y = df['Excess Returns']

In [107]:
from sklearn import linear_model
import statsmodels.api as sm

In [108]:
# Performing multiple regression
regr = linear_model.LinearRegression()
regr.fit(X, Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [109]:
#Printing the Betas
print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)

Intercept:
 -0.31284760635138714
Coefficients:
 [ 0.0142672   0.0043421  -0.01941163]