In [1]:
# Importing the libraries 
import os
import sys
import requests
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import io
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# Download Dataset
from google.colab import files 
uploaded = files.upload()

Saving F-F_Research_Data_Factors.csv to F-F_Research_Data_Factors.csv

In [3]:
# Saving the FF data to a data frame
data = pd.read_csv('F-F_Research_Data_Factors.csv', skiprows=3, index_col=False)
data.head()

  Unnamed: 0    Mkt-RF       SMB       HML        RF
0     192607      2.96     -2.30     -2.87      0.22
1     192608      2.64     -1.40      4.19      0.25
2     192609      0.36     -1.32      0.01      0.23
3     192610     -3.24      0.04      0.51      0.32
4     192611      2.53     -0.20     -0.35      0.31

In [4]:
import os

from datetime import datetime

import pandas_datareader.data as web

f = web.DataReader("AAPL", "av-monthly", start=datetime(1980, 12, 1),
                   end=datetime(2020, 3, 1),               
                   api_key='CCWOS3F9PKSXIKW9')

In [5]:
# Importing dataset
from google.colab import files
uploaded = files.upload()

Saving AAPL_Max.csv to AAPL_Max.csv

In [6]:
if os.path.exists('AAPL_Max.csv'):

    # Load the data
    price_data = pd.read_csv('AAPL_Max.csv')

else:

    # Grab the data and store it.
    grab_price_data()

    # Load the data
    price_data = pd.read_csv('AAPL_Max.csv')

# Display the head before moving on.
price_data.tail()

           Date        Open        High  ...       Close   Adj Close      Volume
467  2019-11-01  249.539993  268.000000  ...  267.250000  265.101563   448331500
468  2019-12-01  267.269989  293.970001  ...  293.649994  292.163818   597198700
469  2020-01-01  296.239990  327.850006  ...  309.510010  307.943604   733592600
470  2020-02-01  304.299988  327.220001  ...  273.359985  271.976532   754645900
471  2020-03-01  282.279999  304.000000  ...  254.289993  253.603500  1570018100

[5 rows x 7 columns]

In [7]:
price_data.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  1980-12-01  0.513393  0.645089  0.450893  0.609375   0.481528  336212800
1  1981-01-01  0.616071  0.620536  0.504464  0.504464   0.398628  152247200
2  1981-02-01  0.477679  0.515625  0.424107  0.473214   0.373934   80404800
3  1981-03-01  0.475446  0.482143  0.386161  0.437500   0.345713  175179200
4  1981-04-01  0.435268  0.524554  0.433036  0.506696   0.400392  134232000

In [9]:
data_close = pd.concat([price_data['Adj Close']], axis=1)
data_close.columns = ['Apple Close']
data_close.head()

   Apple Close
0     0.481528
1     0.398628
2     0.373934
3     0.345713
4     0.400392

In [10]:
# Calculating monthly returns 

data_returns = data_close.pct_change(1)*100
data_returns = data_close.dropna(axis=0)
print(data_returns)

     Apple Close
0       0.481528
1       0.398628
2       0.373934
3       0.345713
4       0.400392
..           ...
467   265.101563
468   292.163818
469   307.943604
470   271.976532
471   253.603500

[472 rows x 1 columns]

In [14]:
# Data sorting 
data['Returns'] = data_returns['Apple Close']
data.head()

     Date    Mkt-RF       SMB       HML        RF  Monthly Returns   Returns
0  192607      2.96     -2.30     -2.87      0.22         0.481528  0.481528
1  192608      2.64     -1.40      4.19      0.25         0.398628  0.398628
2  192609      0.36     -1.32      0.01      0.23         0.373934  0.373934
3  192610     -3.24      0.04      0.51      0.32         0.345713  0.345713
4  192611      2.53     -0.20     -0.35      0.31         0.400392  0.400392

In [13]:
data.rename(columns={'Unnamed: 0' : 'Date'}, inplace=True)
data.head()

     Date    Mkt-RF       SMB       HML        RF  Monthly Returns
0  192607      2.96     -2.30     -2.87      0.22         0.481528
1  192608      2.64     -1.40      4.19      0.25         0.398628
2  192609      0.36     -1.32      0.01      0.23         0.373934
3  192610     -3.24      0.04      0.51      0.32         0.345713
4  192611      2.53     -0.20     -0.35      0.31         0.400392

In [15]:
data.head()

     Date    Mkt-RF       SMB       HML        RF  Monthly Returns   Returns
0  192607      2.96     -2.30     -2.87      0.22         0.481528  0.481528
1  192608      2.64     -1.40      4.19      0.25         0.398628  0.398628
2  192609      0.36     -1.32      0.01      0.23         0.373934  0.373934
3  192610     -3.24      0.04      0.51      0.32         0.345713  0.345713
4  192611      2.53     -0.20     -0.35      0.31         0.400392  0.400392

In [18]:
data.drop(['Monthly Returns'], axis=1, inplace=True)

In [19]:
data.head()

     Date    Mkt-RF       SMB       HML        RF   Returns
0  192607      2.96     -2.30     -2.87      0.22  0.481528
1  192608      2.64     -1.40      4.19      0.25  0.398628
2  192609      0.36     -1.32      0.01      0.23  0.373934
3  192610     -3.24      0.04      0.51      0.32  0.345713
4  192611      2.53     -0.20     -0.35      0.31  0.400392