In [ ]:
# Importing the libraries 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import plot_roc_curve
from sklearn.metrics import accuracy_score, classification_report

In [ ]:
# Importing dataset
from google.colab import files
uploaded = files.upload()

Saving GOOGL.csv to GOOGL.csv

In [ ]:
# Load the data
df = pd.read_csv('GOOGL.csv')

# Display the head before moving on.
df.head()

         Date         Open         High  ...        Close    Adj Close   Volume
0  2018-01-02  1053.020020  1075.979980  ...  1073.209961  1073.209961  1588300
1  2018-01-03  1073.930054  1096.099976  ...  1091.520020  1091.520020  1565900
2  2018-01-04  1097.089966  1104.079956  ...  1095.760010  1095.760010  1302600
3  2018-01-05  1103.449951  1113.579956  ...  1110.290039  1110.290039  1512500
4  2018-01-08  1111.000000  1119.160034  ...  1114.209961  1114.209961  1232200

[5 rows x 7 columns]

In [ ]:
df.tail()

           Date         Open         High  ...        Close    Adj Close   Volume
246  2018-12-24   984.320007  1012.119995  ...   984.669983   984.669983  1818000
247  2018-12-26   997.989990  1048.449951  ...  1047.849976  1047.849976  2315900
248  2018-12-27  1026.199951  1053.339966  ...  1052.900024  1052.900024  2299800
249  2018-12-28  1059.500000  1064.229980  ...  1046.680054  1046.680054  1719900
250  2018-12-31  1057.829956  1062.989990  ...  1044.959961  1044.959961  1655500

[5 rows x 7 columns]

In [ ]:
# calculate lag 1
df['Lag1'] = df['Adj Close'].diff(1)

# calculate lag 2
df['Lag2'] = df['Adj Close'].diff(2)

# calculate Lag 3
df['Lag3'] = df['Adj Close'].diff(3)

# calculate lag 4
df['Lag4'] = df['Adj Close'].diff(4)

# calculate lag 5
df['Lag5'] = df['Adj Close'].diff(5)

# Creating percantage change column 

df['% Change'] = df['Adj Close'].pct_change()


df.head(10)

         Date         Open         High  ...       Lag4       Lag5  % Change
0  2018-01-02  1053.020020  1075.979980  ...        NaN        NaN       NaN
1  2018-01-03  1073.930054  1096.099976  ...        NaN        NaN  0.017061
2  2018-01-04  1097.089966  1104.079956  ...        NaN        NaN  0.003884
3  2018-01-05  1103.449951  1113.579956  ...        NaN        NaN  0.013260
4  2018-01-08  1111.000000  1119.160034  ...  41.000000        NaN  0.003531
5  2018-01-09  1118.439941  1118.439941  ...  21.270019  39.580078 -0.001274
6  2018-01-10  1107.000000  1112.780029  ...  14.380005  18.619995 -0.002381
7  2018-01-11  1112.310059  1114.849976  ...   1.760010  16.290039  0.001721
8  2018-01-12  1110.099976  1131.300049  ...  16.440063  20.359985  0.016726
9  2018-01-16  1140.310059  1148.880005  ...  17.909912  16.489990  0.000044

[10 rows x 13 columns]

In [ ]:
#Creating directional change 
close_groups = df['Adj Close']

# Apply the lambda function which will return -1.0 for down, 1.0 for up and 0.0 for no change.
close_groups = close_groups.transform(lambda x : np.sign(x.diff()))

# add the data to the main dataframe.
df['Prediction'] = close_groups

# print the head
df.head(10)

         Date         Open         High  ...       Lag5  % Change  Prediction
0  2018-01-02  1053.020020  1075.979980  ...        NaN       NaN         NaN
1  2018-01-03  1073.930054  1096.099976  ...        NaN  0.017061         1.0
2  2018-01-04  1097.089966  1104.079956  ...        NaN  0.003884         1.0
3  2018-01-05  1103.449951  1113.579956  ...        NaN  0.013260         1.0
4  2018-01-08  1111.000000  1119.160034  ...        NaN  0.003531         1.0
5  2018-01-09  1118.439941  1118.439941  ...  39.580078 -0.001274        -1.0
6  2018-01-10  1107.000000  1112.780029  ...  18.619995 -0.002381        -1.0
7  2018-01-11  1112.310059  1114.849976  ...  16.290039  0.001721         1.0
8  2018-01-12  1110.099976  1131.300049  ...  20.359985  0.016726         1.0
9  2018-01-16  1140.310059  1148.880005  ...  16.489990  0.000044         1.0

[10 rows x 14 columns]

In [ ]:
# Any row that has a `NaN` value will be dropped.
df = df.dropna()

# Print the head.
df.head()

         Date         Open         High  ...       Lag5  % Change  Prediction
5  2018-01-09  1118.439941  1118.439941  ...  39.580078 -0.001274        -1.0
6  2018-01-10  1107.000000  1112.780029  ...  18.619995 -0.002381        -1.0
7  2018-01-11  1112.310059  1114.849976  ...  16.290039  0.001721         1.0
8  2018-01-12  1110.099976  1131.300049  ...  20.359985  0.016726         1.0
9  2018-01-16  1140.310059  1148.880005  ...  16.489990  0.000044         1.0

[5 rows x 14 columns]

In [ ]:
# Preparing the training data: 1/01/2018 -11/30/2018
df_train =df.iloc[:226].dropna().copy()
df_train

           Date         Open         High  ...       Lag5  % Change  Prediction
5    2018-01-09  1118.439941  1118.439941  ...  39.580078 -0.001274        -1.0
6    2018-01-10  1107.000000  1112.780029  ...  18.619995 -0.002381        -1.0
7    2018-01-11  1112.310059  1114.849976  ...  16.290039  0.001721         1.0
8    2018-01-12  1110.099976  1131.300049  ...  20.359985  0.016726         1.0
9    2018-01-16  1140.310059  1148.880005  ...  16.489990  0.000044         1.0
..          ...          ...          ...  ...        ...       ...         ...
226  2018-11-23  1033.500000  1043.000000  ... -40.950073 -0.012775        -1.0
227  2018-11-26  1044.000000  1057.000000  ... -12.330079  0.025085         1.0
228  2018-11-27  1051.339966  1066.760010  ...  24.859985 -0.003466        -1.0
229  2018-11-28  1057.459961  1092.859985  ...  61.340088  0.037547         1.0
230  2018-11-29  1083.530029  1100.150024  ...  51.149902  0.002555         1.0

[226 rows x 14 columns]

In [ ]:
# Creating testing data 

df_test = df.iloc[226:].dropna().copy()
df_test

           Date         Open         High  ...       Lag5  % Change  Prediction
231  2018-11-30  1095.630005  1109.650024  ...  79.550048  0.013768         1.0
232  2018-12-03  1132.160034  1135.000000  ...  60.420044  0.006047         1.0
233  2018-12-04  1112.989990  1114.239990  ...  10.189942 -0.048273        -1.0
234  2018-12-06  1045.000000  1079.420044  ... -13.710083  0.014692         1.0
235  2018-12-07  1072.229980  1085.030029  ... -48.000000 -0.029219        -1.0
236  2018-12-10  1042.939941  1059.599976  ... -56.469970  0.006306         1.0
237  2018-12-11  1066.939941  1070.400024  ... -54.709961  0.008042         1.0
238  2018-12-12  1077.079956  1091.729980  ...  11.260009  0.011378         1.0
239  2018-12-13  1075.670044  1088.420044  ...  -4.539917 -0.000177        -1.0
240  2018-12-14  1060.020020  1071.719971  ...   5.130005 -0.020335        -1.0
241  2018-12-17  1047.010010  1062.380005  ... -27.530030 -0.024779        -1.0
242  2018-12-18  1034.000000  1059.689941  ... -18.239990  0.017316         1.0
243  2018-12-19  1047.290039  1075.709961  ... -38.270019 -0.007619        -1.0
244  2018-12-20  1026.000000  1047.439941  ... -49.960022 -0.011473        -1.0
245  2018-12-21  1032.040039  1037.670044  ... -60.459961 -0.031585        -1.0
246  2018-12-24   984.320007  1012.119995  ... -40.980041 -0.006638        -1.0
247  2018-12-26   997.989990  1048.449951  ...   4.439942  0.064164         1.0
248  2018-12-27  1026.199951  1053.339966  ...  17.440063  0.004819         1.0
249  2018-12-28  1059.500000  1064.229980  ...  23.100037 -0.005907        -1.0
250  2018-12-31  1057.829956  1062.989990  ...  53.709961 -0.001643        -1.0

[20 rows x 14 columns]

In [ ]:
# Creating X and Y columns 

X_train = df_train[['Lag1','Lag2','Lag3','Lag4','Lag5']] 
y_train = df_train['Prediction']
X_test = df_test[['Lag1','Lag2','Lag3','Lag4','Lag5']] 
y_test = df_test['Prediction']

In [ ]:
# Create a Random Forest Classifier
rand_frst_clf = RandomForestClassifier(n_estimators = 100)

In [ ]:
# Fit the data to the model
rand_frst_clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
# Make predictions
y_pred = rand_frst_clf.predict(X_test)
y_pred

array([ 1.,  1., -1.,  1., -1.,  1.,  1.,  1., -1., -1., -1.,  1., -1.,
       -1., -1., -1.,  1.,  1., -1., -1.])

In [ ]:
# Print the Accuracy of our Model.
print('Correct Prediction (%): ', accuracy_score(y_test, y_pred, normalize = True) * 100.0)

Correct Prediction (%):  100.0